.ul{
    display: flex;
    
}

.li{
    display: inline;
    padding: 20px 50px;
    border-color: black;
    background-color: black;
    color: rgb(255, 255, 255);
    
    
    
}

div{
    display: flex;
    justify-content: center;
}