input{
    width: 200px;
    height: 40px;
    color: rgb(255, 255, 255);
   
}

button{
    color: blue;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;

    
}

.button{
    width: 140px;
    height: 20px;
}

div{
   background-color: blue;
 height: 100vh;
 
}

label{
    color: rgb(255, 255, 255);
}